.button {
  padding: 1rem 2rem;
  transition: 0.2s ease opacity;
  border-radius: var(--radius);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: start;
  & > * {
    color: inherit;
    z-index: 1;
    white-space: nowrap;
    /* mix-blend-mode: plus-lighter; */
  }
  & > svg {
    transition: transform 0.2s ease-out;
  }
  &:hover {
    & > * {
      opacity: 0.9;
    }
    & > svg {
      transform: scale(0.98);
    }
  }
}

.primary {
  background-color: var(--foreground);
  color: var(--background);
  text-decoration: none;
  position: relative;
  font-size: inherit;
}
.secondary {
  background-color: var(--background);
  text-decoration: none;
  position: relative;
  font-size: inherit;
  padding: 0.5rem;
}

.buttonNode {
  position: absolute;
  mix-blend-mode: plus-lighter;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: color-mix(in srgb, var(--background) 60%, var(--foreground));
}
