.hero {
  background: var(--background-accent);
  padding: 2em;
  aspect-ratio: 0.6666667;
  grid-row: 1;
}

.hero p {
  padding-right: 3em;
}

.ui {
  background: white;
  aspect-ratio: 768/584;
  grid-column: var(--c, start/end);
  grid-row: 1;
  align-self: end;
  max-height: 584px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}
