.hero {
  background: var(--tan);
  padding: 2em;
  aspect-ratio: 0.6666667;
  grid-row: 1;
}

.hero p {
  padding-right: 3em;
}

.ui {
  padding: 2em;
  background: white;
  aspect-ratio: 1.25;
  grid-column: var(--c, start/end);
  grid-row: 1;
  align-self: end;
  max-height: 14em;
}
