.hero {
  display: grid;
  grid-template-rows: auto auto;
  position: sticky;
  top: 0;
  z-index: 0;
  padding: 2.5rem 0 0 0;
  row-gap: 2rem;
  overflow: visible;
  height: 60vh;
  @media (--md) {
    row-gap: 3rem;
    padding: 3.5rem 0 0 0;
  }

  h1 {
    text-align: center;
  }
}

.illustration {
  display: block;
  /*   margin-bottom: -14em; */
  color: var(--coral);
  position: relative;
  z-index: -1;
}
