.cards {
  display: grid;
  grid-template-areas:
    'colspan row-top'
    'colspan row-bottom';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column: start/end;
  align-items: stretch;
  gap: 1em; /* Adjust the gap size based on your needs */
  .card:nth-child(1) {
    grid-area: colspan;
  }
  .card:nth-child(2) {
    grid-area: row-top;
  }
  .card:nth-child(3) {
    grid-area: row-bottom;
  }
}

.card {
  display: grid;
  background: var(--background-accent);
  grid-column: span 11;
  align-content: start;
  grid-template-rows: auto auto;

  :global .card-header {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
    grid-row: 1;
  }

  & img {
    grid-row: 2;
    box-sizing: content-box;
  }
}
