.cards {
  display: grid;
  grid-template-areas:
    'colspan row-top'
    'colspan row-bottom';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column: start/end;
  align-items: stretch;
  gap: 1em;
  .card:nth-child(1) {
    grid-area: colspan;
  }
  .card:nth-child(2) {
    grid-area: row-top;
  }
  .card:nth-child(3) {
    grid-area: row-bottom;
  }
}

.card {
  display: grid;
  background: var(--background-accent);
  align-content: start;
  grid-template-rows: 1fr auto;
  border-radius: var(--radius);
  :global .card-header {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
  }
  img {
    place-self: end;
    mask-image: radial-gradient(ellipse at top center, #ffff 50%, #fff0 150%);
  }
}
