.navigation {
  display: grid;
  grid-auto-flow: column;
  position: sticky;
  margin-top: 1em;
  top: 0;
  z-index: 2;
  background: var(--navigation);
  color: var(--foreground);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  @media (--lg) {
    grid-column: start / 14;
  }
}
.links {
  place-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5em;
  min-height: calc(3rem - 1px);
  padding: 0.25rem;
  padding-left: 0.5em;
  margin: 0;
  height: 100%;
  width: 100%;
  @media (--lg) {
    gap: 0.25em;
    justify-content: space-between;
    grid-column: start / 14;
  }
}
.link {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  white-space: nowrap;
  align-self: center;
  :global &.active {
    opacity: 0.5;
  }
}

.highlight {
  background: var(--background);
  color: var(--foreground);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.logowrapper {
  width: 144px;
  display: flex;
}

.logosentinel {
  width: 112px;
  height: 100%;
  display: flex;
}

[data-sticky='true'] .logo {
  width: 48px;
  padding: 0 0.875em;
}

.logo {
  width: 100%;
  overflow: hidden;
  transition:
    width 0.5s cubic-bezier(0.9, 0.3, 0.1, 0.8),
    padding 0.5s cubic-bezier(0.9, 0.3, 0.1, 0.8);
  align-self: stretch;
  box-shadow: var(--border-r) var(--foreground-border);
  padding: 0 1em;
  :global &.active {
    opacity: unset;
  }
}
