.heading {
  /* Base styles if any */
}

.h1 {
  font-size: var(--h1);
  letter-spacing: var(--h1-spacing);
}

.h2 {
  font-size: var(--h2);
  letter-spacing: var(--h2-spacing);
}

.h3 {
  font-size: var(--h3);
  letter-spacing: var(--h3-spacing);
}

.h4 {
  font-size: var(--h4);
  letter-spacing: var(--h4-spacing);
}

.h5 {
  font-size: var(--h5);
  letter-spacing: var(--h5-spacing);
}

.h6 {
  font-size: var(--h6);
  letter-spacing: var(--h6-spacing);
}

.span {
  font-variant: small-caps;
  font-size: var(--body-small);
}
