.ul {
  grid-column: 1 / 26;
  padding: 0;

  li {
    box-shadow: var(--border-b) inset var(--foreground-border);
    color: var(--foreground);
    grid-column: 1 / 26;
    &:first-child {
      box-shadow: none;
    }
    &:has(.wrapper:hover) .thumbnail {
      background: color-mix(in srgb, var(--background-accent), var(--foreground) 4%);
    }
  }
  li:is(.featured) {
    background: var(--background);
  }
  li a {
    text-decoration: none;
    list-style: none;
  }
  li.featured + li {
    margin-top: 4em;
    margin-bottom: 0;
    box-shadow: none;
  }
  li:has(+ li.featured) {
    margin-top: 0;
    margin-bottom: 4em;
  }
}

.heading {
  margin-bottom: 1em;
  min-height: 2em;
}

.wrapper {
  padding: 2rem 0;
}

.meta {
  grid-column: 6 / end;
}

.date {
  display: inline-flex;
  margin-top: 1em;
  color: var(--foreground-accent);
}

.thumbnail {
  background: var(--background-accent);
  padding: 1.5rem;
  aspect-ratio: 1;
  grid-column: 1 / 4;
  svg,
  img {
    /* box-shadow: var(--shadow); */
    object-position: center center;
    object-fit: cover;
    width: 100%;
  }
}

.link {
  color: var(--foreground);
  grid-column: 1 / 8;
  &::first-letter {
    text-transform: capitalize;
  }
}

.excerpt {
  grid-column: 9 / end;
}

.featured {
  .wrapper {
    padding: 6rem 0;
  }

  .meta {
    grid-column: 13 / end;
    gap: 1em;
  }

  .thumbnail {
    grid-column: 1 / 10;
    width: 100%;
    padding: 3em;
    svg,
    img {
      box-shadow: var(--shadow);
      width: 100%;
    }
  }
  .link {
    grid-column: 1 / end;

    width: 100%;
  }
  .excerpt {
    grid-column: 1 / end;
  }
}
