.ul {
  grid-column: 1 / 26;
  padding: 0;

  li {
    box-shadow: var(--border-b) var(--foreground-border);
    background: var(--background);
    color: var(--foreground);
    grid-column: 1 / 26;
    &:has(.wrapper:hover) .thumbnail svg,
    .thumbnail img {
      /* transform: translateY(-0.1em); */
    }
    /* &:hover .thumbnail {
      filter: saturate(0);
    } */
  }
  li a {
    text-decoration: none;
    list-style: none;
  }
}

.heading {
  margin-bottom: 2em;
}

.wrapper {
  padding: 2rem 0;
}

.meta {
  grid-column: 6 / end;
}

.date {
  display: inline-flex;
  margin-top: 1em;
  color: var(--foreground-accent);
}

.thumbnail {
  background: var(--background-accent);
  padding: 1.5rem;
  aspect-ratio: 1;
  grid-column: 1 / 4;
  svg,
  img {
    /* box-shadow: var(--shadow); */
    object-position: center center;
    object-fit: cover;
    width: 100%;
  }
}

.link {
  color: var(--foreground);
  grid-column: 1 / 8;
  &::first-letter {
    text-transform: capitalize;
  }
}

.excerpt {
  grid-column: 9 / end;
}

.featured {
  .wrapper {
    padding: 6rem 0;
  }

  .meta {
    grid-column: 13 / end;
    gap: 1em;
  }

  .thumbnail {
    grid-column: 1 / 10;
    width: 100%;
    padding: 3em;
    svg,
    img {
      box-shadow: var(--shadow);
      width: 100%;
    }
  }
  .link {
    grid-column: 1 / end;

    width: 100%;
  }
  .excerpt {
    grid-column: 1 / end;
  }
}
