.hero {
  grid-column: 1 / span 26;
  padding-bottom: 0em;
  gap: 2em 0;
  padding-top: 2em;
  margin-top: -1em;
  background: var(--background);
  color: var(--foreground);
}

.title {
  grid-column: start / span 11;
  &::first-letter {
    text-transform: capitalize;
  }
  .date {
    display: block;
    margin-top: 1.5em;
  }
}

.more {
  gap: 1em 0;
  background: var(--background);
  ul {
    li {
      box-shadow: var(--border-b) inset var(--foreground-border);
      padding: 1em 0;
      a {
        display: flex;
        gap: 0 3em;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .thumbnail {
    background: var(--background-accent);
    aspect-ratio: 1;
    flex-basis: 3em;
    svg,
    img {
      box-shadow: var(--shadow);
      width: 100%;
    }
  }
  .meta {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    gap: 0.5em 1em;
    align-items: center;
    justify-content: space-between;
  }
}

.excerpt {
  grid-column: 15 / span 10;
  color: var(--foreground-accent);
}

.prose {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: subgrid;
  grid-column: 1 / 26;
  gap: 2rem 0;
  padding: 2em 0;

  :global .katex-display {
    z-index: 1;
    grid-column: 1 / 26;
    font-size: var(--h5);
  }
  :global .katex {
    color: var(--foreground);
  }

  > * {
    grid-column: 8 / span 11;
  }
  p {
    color: var(--foreground-accent-opaque);
  }
  ul,
  ol {
    li {
      color: var(--foreground-accent-opaque);
      &::marker {
        color: var(--foreground);
      }
    }
  }

  > aside {
    display: grid;
    grid-column: 20 / end;
    height: auto;
    grid-row: span 1;
    color: var(--foreground-accent-opaque);
    font-size: var(--body-small);
    p {
      color: inherit;
      font-size: inherit;
    }
    @media (--lg) {
      height: 1ch;
    }
  }

  table {
    border-collapse: collapse;
    display: inline-grid;
    font-family: var(--mono);
    color: var(--foreground-accent-opaque);
    font-size: var(--body-small);
    width: 100%;
    thead,
    tbody,
    tr {
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
    }
    thead:has(+ tbody) {
      border-bottom: 1px solid var(--foreground-border);
    }
    td,
    th {
      padding: 0.5em 1em;
      display: block;
      box-shadow: 0 0 0 -1px;
      text-align: left;
    }
    th {
      color: var(--foreground);
      white-space: nowrap;
      border-right: 1px solid var(--foreground-border);
      &:last-of-type {
        border-right: none;
      }
    }
    td {
      border-bottom: 1px solid var(--foreground-border);
      border-right: 1px solid var(--foreground-border);
      &:last-of-type {
        border-right: none;
      }
    }
    tr {
      &:nth-child(even) {
        background: var(--background-accent);
      }
      &:last-of-type td {
        border-bottom: none;
      }
    }
  }
  p:has(img) {
    grid-column: start / end;
    z-index: 0;
    justify-content: center;
    display: grid;
    margin: 2em 0;
    img {
      border-radius: var(--radius);
    }
  }
  :global .footnotes {
    grid-column: start / end;
    padding-top: 0.5em;
    margin-top: 1em;
    box-shadow: var(--border-t) var(--foreground-border);
  }

  /* Hide the section label for visual users. */
  :global .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    word-wrap: normal;
    border: 0;
  }

  /* Place `[` and `]` around footnote references. */

  :global [data-footnote-ref] {
    text-decoration: none;
    color: var(--foreground);
    &:hover {
      color: var(--foreground-accent-opaque);
    }
  }

  :global [data-footnote-ref]::before {
    content: '[';
  }

  :global [data-footnote-ref]::after {
    content: ']';
  }
}

.image {
  display: grid;
  grid-column: 1 / 26;
  grid-template-columns: subgrid;
}

.chapterHeader {
  all: unset;
  display: contents;
  box-sizing: border-box;
  h1 {
    font-size: var(--body-small);
    grid-column: start / end;
    position: relative;
    clip: rect(0 0 0 0);
    visibility: hidden;
    text-indent: -9999px;
    font-size: var(--body);
    height: 1ch;
    &:before {
      content: '';
      visibility: visible;
      grid-column: start / end;
      position: absolute;
      display: grid;
      box-shadow: var(--border-t) inset var(--foreground-border);
      width: 100%;
      height: 1px;
    }
  }

  p {
    color: var(--foreground-accent-opaque);
    display: grid;
    grid-column: start / span 5;
    background: linear-gradient(0deg, var(--background) calc(100% - 5px), transparent 100%);
    position: sticky;
    top: 5em;
    align-self: stretch;
    display: grid;
  }
}

.entryImage {
  display: grid;
  grid-column: span 12;
  padding: 2em 0;
  background: var(--background-accent);
  grid-template-columns: subgrid;
  svg,
  img {
    box-shadow: var(--shadow);
    grid-column: start / span 9;
    width: 100%;
  }
}

.chapters {
  grid-column: 15 / span 10;
  .toc {
    display: grid;
    gap: 1em 0;
    p {
      font-size: var(--body);
    }
    > ul {
      display: grid;
      gap: 1em 0;
      padding: 0;
      margin: 0;
      li {
        display: grid;
        gap: 0.5em;
        text-wrap: balance;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-decoration-color: var(--foreground-accent);
          }
        }
      }
    }
  }
}

span[data-rehype-pretty-code-figure] {
  background: var(--background-4);
  border-radius: var(--radius);
  box-shadow: var(--border) var(--foreground-border);
  padding: 0 0.25em;
  font-size: var(--body-small);
}

figure[data-rehype-pretty-code-figure] {
  display: inline-grid;
  grid-column: 8 / end;
  grid-row: auto;

  border-radius: var(--radius);
  background: hsl(var(--brand-0));
  position: relative;
  z-index: 1;

  pre {
    overflow-x: auto;
  }

  .code {
    color: hsl(var(--steel-4));
    padding: 1.5em;
    mark {
      all: unset;
    }
    [data-highlighted-chars] > * {
      background: color-mix(in oklab, transparent 24%, currentColor);
      -webkit-text-fill-color: var(--foreground);
      color: transparent;
      padding: 0.125em;
      mask-image: linear-gradient(to top, #fffd, var(--foreground));

      &:last-of-type {
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
      }
      &:first-of-type {
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
      }
    }

    [data-line]:global(.highlighted),
    [data-highlighted-line] {
      margin: 0 -1.5em;
      padding: 0 1.5em;
      background: color-mix(in srgb, var(--background) 6%, var(--foreground));
      &&:before {
        background: color-mix(in srgb, var(--background) 6%, var(--foreground));
      }
    }
  }

  .code[data-line-numbers] {
    & {
      counter-reset: line;
    }

    & > [data-line]::before {
      counter-increment: line;
      content: counter(line);
      position: sticky;
      left: 0;
      background: var(--foreground);
      display: inline-block;
      width: 1ch;
      padding: 0 2ch 0 1ch;
      margin-left: -2.5ch;
      text-align: right;
      color: gray; /* TODO: fix this */
      z-index: 1;
    }

    &[data-line-numbers-max-digits='2'] > [data-line]::before {
      width: 2ch;
    }

    &[data-line-numbers-max-digits='3'] > [data-line]::before {
      width: 3ch;
    }
  }
}
