.hero {
  grid-column: 1 / span 26;
  padding-bottom: 3em;
  gap: 2em 0;
  padding-top: 4em;
  margin-top: -3em;
  background: var(--background);
  color: var(--foreground);
  /* z-index: -1;
  position: relative; */
}

.title {
  grid-column: start / span 11;
  &::first-letter {
    text-transform: capitalize;
  }
  .date {
    font-size: var(--h5);
    display: grid;
    margin-top: 1.5em;
    font-weight: normal;
  }
}

.excerpt {
  grid-column: 15 / span 10;
  color: var(--foreground-accent);
}

.prose {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: subgrid;
  grid-column: 1 / 26;
  gap: 2rem 0;
  padding: 2em 0;
  > * {
    grid-column: 8 / span 11;
  }
  > aside {
    display: grid;
    grid-column: 20 / end;
    height: 1ch;
    p {
      font-size: var(--body-small);
    }
  }
}

.chapterHeader {
  all: unset;
  display: contents;
  box-sizing: border-box;
  h1 {
    font-size: var(--body-small);
    grid-column: start / end;
    position: relative;
    clip: rect(0 0 0 0);
    visibility: hidden;
    text-indent: -9999px;
    font-size: var(--body);
    height: 1ch;
    &:before {
      content: '';
      visibility: visible;
      grid-column: start / end;
      position: absolute;
      display: grid;
      box-shadow: var(--border-t) inset var(--foreground-border);
      width: 100%;
      height: 1px;
    }
  }

  p {
    display: grid;
    grid-column: start / span 5;
    background: var(--background);
    position: sticky;
    top: 5em;
    align-self: stretch;
    display: grid;
  }
}

.image {
  display: grid;
  grid-column: span 12;
  padding: 2em 0;
  background: var(--background-accent);
  grid-template-columns: subgrid;
  aspect-ratio: 4 / 3;
  img {
    grid-column: start / span 9;
    width: 100%;
    height: auto;
  }
}

.chapters {
  grid-column: 15 / span 10;
  .toc {
    display: grid;
    gap: 1em 0;
    p {
      font-size: var(--body-small);
    }
    > ul {
      display: grid;
      gap: 1em 0;
      padding: 0;
      margin: 0;
      li {
        display: grid;
        gap: 0.5em;
        text-wrap: balance;
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
