.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
  & > * {
    flex: 1;
    min-width: 100%;
    @media (--md) {
      min-width: 20rem;
    }
  }
}
.between {
  justify-content: space-between;
}
.center {
  align-items: center;
}
.gap-1 {
  gap: 0.25em;
}
.gap-2 {
  gap: 0.5em;
}
.gap-3 {
  gap: 0.75em;
}
.gap-4 {
  gap: 1em;
}
