.hero {
  display: grid;
  grid-template-rows: auto auto;
  position: sticky;
  top: 0;
  z-index: 0;
  padding: 6rem 0;
  row-gap: 3rem;

  h1 {
    text-align: center;
  }

  & :global .logo {
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer {
  position: sticky;
  top: 0px;
  z-index: 0;
  overflow: hidden;
  height: 20vh;
  width: 100vw;
  img {
    position: relative;
    height: 100%;
    width: 105%;
    left: -2.5%;
    object-fit: contain;
    object-position: bottom;
  }
  @media (--md) {
    height: 60vh;
  }
}
