.footer {
  position: relative;
  overflow: hidden;
  background: var(--background);

  grid-column: 1 / 26;
  padding: 2em 0;
}
.content {
  grid-template-areas:
    'top-left top-right'
    'hr hr'
    'bottom-left bottom-right';
  grid-template-columns: 1fr 1em;
  grid-template-rows: auto auto;
  gap: 1em;
  display: grid;
  align-items: center;
  justify-content: center;
  hr {
    grid-area: hr;
  }
}

.slogan {
  color: var(--foreground);
  grid-area: top-left;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo {
  width: 1em;
  height: 1em;
  grid-area: top-right;
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 0;
}

.logowrapper {
  grid-area: 1/1;
  width: 100%;

  display: inline-grid;
}

.logomark {
  width: 6em;
  color: var(--accent-1);
  & > * {
    font-feature-settings: 'ss02' on;
    animation-name: loop;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
}

@keyframes loop {
  0% {
    opacity: 0;
    font-variation-settings:
      'LOOP' 0,
      'opsz' 100;
  }
  25% {
    opacity: 1;
    font-variation-settings:
      'LOOP' 32,
      'opsz' 25;
  }
  75% {
    opacity: 1;
    font-variation-settings:
      'LOOP' 84,
      'opsz' 75;
  }
  100% {
    opacity: 0;
    font-variation-settings:
      'LOOP' 128,
      'opsz' 100;
  }
}

.logoimage {
  position: absolute;
  display: grid;
  grid-area: 1/1;
  width: 800px;
  height: 800px;
  pointer-events: none;
}

.menu {
  grid-area: bottom-left;
}

.copyright {
  z-index: 1;
  grid-area: bottom-right;
  display: grid;
  white-space: nowrap;
  place-self: end;
}
