.page {
  gap: 2em;
}

.missionHero {
  gap: 0;
  align-items: stretch;
  & > * {
    padding: 2em;
  }
}
.intro {
  grid-column: 1 / span 11;
  background: var(--background-4);
}
.illustration1 {
  grid-column: 12 / span end;
  background: hsl(var(--brand-1));
  display: grid;
  align-items: center;
  justify-content: center;
  & > svg {
    width: 22rem;
    height: 14rem;
  }
}
.illustration2 {
  grid-column: 1 / span 9;
  background: hsl(var(--brand-0));
}
.valueprops {
  grid-column: 10 / span end;
  background: hsl(var(--brand-2));
  ul {
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
    li {
      margin: 0;
      display: grid;
      grid-auto-flow: column;
      gap: 2.5em;
      align-items: start;
      justify-content: center;
      svg {
        color: var(--accent-3);
      }
      span {
        color: hsl(var(--steel-5));
      }
    }
  }
}
