.bg-primary {
  background-color: white;
  position: relative;
  box-shadow: var(--shadow);
}
.bg-secondary {
  background: var(--background-accent);
  position: relative;
}
.box {
  border-radius: 4px;
}
