.bg-primary {
  background-color: white;
  position: relative;
}
.bg-secondary {
  --opacity: 0.96;
  backdrop-filter: blur(1px);
  background-color: hsl(var(--beige) / var(--opacity));
  position: relative;
}
.box {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--shadow);
}
