.sidebar {
  box-shadow: var(--border-b);
  @media (--md) {
    box-shadow: var(--border-r);
  }
}
.meta {
  padding: 1em;
  @media (--md) {
    padding: 0.5em;
  }
}
.box {
  padding: 2em;
  @media (--md) {
    padding: 2em 1em;
  }
}

.avatar {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
