@font-face {
  font-family: 'national2';
  font-weight: normal;
  src: url('./assets/national-2-regular.woff2');
}

@font-face {
  font-family: 'national2';
  font-weight: 500;
  src: url('./assets/national-2-medium.woff2');
}

@font-face {
  font-family: 'national2';
  font-weight: 300;
  src: url('./assets/national-2-light.woff2');
}

@font-face {
  font-family: 'sohnemono';
  src: url('./assets/sohnemono-buch.woff2');
}

@font-face {
  font-family: 'B';
  src: url('./assets/BayeslineVF.woff2');
}

@custom-media --sm (min-width: 560px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 960px);

* {
  box-sizing: border-box;
}

:root {
  --beige: 43 5% 96%; /* hsl */
  --dark: 313 100% 7%; /* hsl */

  --opacity: 1;
  --text: hsl(var(--dark) / var(--opacity));
  --background: var(--background-5);
  --background-accent: var(--background-4);

  --accent: hsl(20, 94%, 33%);
  --highlight: hsl(43, 86%, 74%);

  --brand: hsl(var(--dark));
  --brand-0: var(--brand);
  --brand-1: hsl(322 79% 13%);
  --brand-2: hsl(322 51% 26%);
  --brand-3: hsl(321 88% 78%);

  --background-0: hsl(41.54 13.14% 19.41%);
  --background-1: hsl(42 7.95% 34.51%);
  --background-2: hsl(44 6.85% 57.06%);
  --background-3: hsl(42.86 10.14% 72.94%);
  --background-4: hsl(48 12.2% 91.96%);
  --background-5: hsl(60 5.26% 96.27%);
  /* --background-5: color-mix(in oklch, hsl(42, 13%, 19%) 0%, var(--background)); */

  --base-unit: 48;
  --base-wrapper: 1104;
  --wrapper: calc(var(--base-wrapper) + (var(--base-unit) * 2));
  --unit: calc(var(--base-unit) / var(--wrapper) * 100%); /* 1em */

  --shadow: 0px 43px 80px 0px rgba(0, 0, 0, 0.04), 0px 9.605px 17.869px 0px rgba(0, 0, 0, 0.03),
    0px 2.86px 5.32px 0px rgba(0, 0, 0, 0.02);

  --border-r: 1px 0 0 0 hsl(var(--dark) / 0.08);
  --border-t: 0 1px 0 0 hsl(var(--dark) / 0.08);
  --border-l: -1px 0 0 0 hsl(var(--dark) / 0.08);
  --border-b: 0 -1px 0 0 hsl(var(--dark) / 0.08);

  /* https://clamp.font-size.app/ min:400 max:1104 */
  --h1: clamp(3.5rem, 2.9318rem + 2.2727vw, 4.5rem);
  --h2: clamp(3rem, 2.7159rem + 1.1364vw, 3.5rem);
  --h3: clamp(2rem, 1.858rem + 0.5682vw, 2.25rem);
  --h4: clamp(1.25rem, 1.108rem + 0.5682vw, 1.5rem);
  --h5: clamp(1.125rem, 1.108rem + 0.5682vw, 1.25rem);
  --body: clamp(0.9375rem, 0.902rem + 0.142vw, 1rem);
  --body-small: clamp(0.8125rem, 0.777rem + 0.142vw, 0.875rem);
  --label: clamp(0.6875rem, 0.652rem + 0.142vw, 0.75rem);
}

:root {
  font-family: 'national2', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

body {
  margin: 0;
  padding: 0;
  color: hsl(var(--dark));
  background-color: var(--background);
  font-size: clamp(1rem, 0rem + 4vw, 3rem);
}

:is(p, a, pre) {
  margin: 0;
  font-size: var(--body);
  color: hsl(var(--dark) / 0.8);
  letter-spacing: -0.01em;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

a {
  text-decoration: underline;
  color: var(--text);
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
}

:is(h1, h2, h3, h4, h5, h6) {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: inherit;
  margin: 0;
  text-wrap: balance;
}

h1 {
  font-size: var(--h1);
  line-height: 0.96;
  font-weight: 300;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  letter-spacing: -0.05em;
}

h2 {
  font-size: var(--h2);
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

h3 {
  font-size: var(--h3);
  line-height: 1.2;
  letter-spacing: -0.03em;
}

h4 {
  font-size: var(--h4);
  line-height: 1.45;
  letter-spacing: -0.02em;
}

h5 {
  font-size: var(--h5);
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.center {
  text-align: center;
}

.balance {
  text-wrap: balance;
}

.small {
  font-size: 0.875rem;
  line-height: 1.5;
}

.caps {
  text-transform: uppercase;
  font-family: 'sohnemono', monospace;
  letter-spacing: 0.02em;
  font-weight: normal;
}

hr {
  background: hsl(var(--dark) / 0.08);
  border: 0;
  min-width: 1px;
  min-height: 1px;
  margin: 0;
}

.tile {
  mask: conic-gradient(from 90deg at 1px 1px, #0000 90deg, #000a 0) calc(50% - 16px) -1px / 1em 1em;
  background: radial-gradient(closest-side at 50% 50%, var(--text) 40%, #0000 100%) 0 100% / 100% 200%;
  background-repeat: no-repeat;
  opacity: 0.12;
  width: 100%;
  height: 50vh;
  margin: 0 1rem auto;
  position: fixed;
  top: 0;
  z-index: -1;
}

.debug {
  & > * {
    box-shadow: 0 0 0 1px #f002 inset;
  }
  & > * > * {
    box-shadow: 0 0 0 1px #f002 inset;
  }
  & > * > * > * {
    box-shadow: 0 0 0 1px #f002 inset;
  }
}

.z-negative {
  z-index: -1;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}

.w-100 {
  width: 100%;
}

.w-prose {
  max-width: 52ch;
}

.w-title {
  max-width: 10ch;
}

.padding-05 {
  padding: 0.5em;
}
.padding-1 {
  padding: 1em;
}
.padding-2 {
  padding: 2em;
}
.padding-3 {
  padding: 3em;
}
.padding-4 {
  padding: 4em;
}

.padding-y-05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.padding-y-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.padding-y-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.padding-y-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}
.padding-y-4 {
  padding-top: 4em;
  padding-bottom: 4em;
}

html::-webkit-scrollbar-track {
  background-color: hsl(var(--dark) / 0.12);
}

html::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}

html::-webkit-scrollbar-thumb {
  background-color: hsl(var(--dark) / 0.32);
  border-radius: 12px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--dark) / 0.56);
}
