:global(.grid) {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.debug {
  & > * {
    box-shadow: 0 0 0 1px #f002 inset;
  }
  & > * > * {
    box-shadow: 0 0 0 1px #f002 inset;
  }
  & > * > * > * {
    box-shadow: 0 0 0 1px #f002 inset;
  }
}

.section {
  composes: grid from global;
  column-gap: calc(var(--base-unit) / var(--base-wrapper) * 100%);
  margin: 0 auto;
  max-width: calc(var(--base-wrapper) * 1px);
  width: calc(100% - (var(--unit) * 2));
  margin-bottom: min(48px, var(--unit));
  overflow: hidden;

  & :global(.sub) {
    grid-template-columns: subgrid;
  }

  & :global([class^='s-']) {
    display: grid;
  }

  & :global([class^='e-']) {
    display: grid;
    grid-column-start: 1;
  }

  /* start */

  & :global(.s-12) {
    grid-column-start: 13;
  }

  & :global(.s-10) {
    grid-column-start: 11;
  }

  & :global(.s-8) {
    grid-column-start: 9;
  }

  & :global(.s-6) {
    grid-column-start: 7;
  }

  & :global(.s-4) {
    grid-column-start: 5;
  }

  & :global(.s-2) {
    grid-column-start: 3;
  }

  /* end */

  & :global(.e-12) {
    grid-column-end: 13;
  }

  & :global(.e-10) {
    grid-column-end: 11;
  }

  & :global(.e-8) {
    grid-column-end: 9;
  }

  & :global(.e-6) {
    grid-column-end: 7;
  }

  & :global(.e-4) {
    grid-column-end: 5;
  }

  & :global(.e-2) {
    grid-column-end: 3;
  }
}
