:global(.grid) {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.section {
  composes: grid from global;
  column-gap: calc(var(--base-unit) / var(--base-wrapper) * 100%);
  margin: 0 auto;
  max-width: calc(var(--base-wrapper) * 1px);
  width: calc(100% - (var(--unit) * 2));
  margin-bottom: min(48px, var(--unit));
  overflow: hidden;

  & :global(.sub) {
    grid-template-columns: subgrid;
    display: grid;
  }

  & :global([class^='s-']) {
    grid-column-start: 13;
  }

  & :global([class^='e-']) {
    grid-column-start: 1;
  }

  /* start */

  & :global(.s-12) {
    grid-column-start: 13;
  }

  & :global(.s-10) {
    grid-column-start: 11;
  }

  & :global(.s-8) {
    grid-column-start: 9;
  }

  & :global(.s-7) {
    grid-column-start: 8;
  }

  & :global(.s-6) {
    grid-column-start: 7;
  }

  & :global(.s-4) {
    grid-column-start: 5;
  }

  & :global(.s-3) {
    grid-column-start: 4;
  }

  & :global(.s-2) {
    grid-column-start: 3;
  }

  /* end */

  & :global(.e-12) {
    grid-column-end: 13;
  }

  & :global(.e-10) {
    grid-column-end: 11;
  }

  & :global(.e-8) {
    grid-column-end: 9;
  }

  & :global(.e-6) {
    grid-column-end: 7;
  }

  & :global(.e-4) {
    grid-column-end: 5;
  }

  & :global(.e-3) {
    grid-column-end: 4;
  }

  & :global(.e-2) {
    grid-column-end: 3;
  }
}
